
/* fira sans style */
.fira-sans-semibold {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    
  }

  
/* nav styles */
nav ul li {
    list-style: none;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:24px 160px;
}

/* btn-primary */
.btn-primary{
    color: rgba(0, 106, 80, 1);
    border: 2px solid rgba(0, 106, 80, 1);
    border-radius: 8px;
    background-color: white;
    font-weight: 600px;
    font-size: 18px;
    padding: 15px 30px;
}
.btn-primary1{
    color: white;
    border: 2px solid rgba(0, 106, 80, 1);
    border-radius: 8px;
    background-color: rgba(0, 106, 80, 1);
    font-weight: 600px;
    font-size: 18px;
    padding: 17px 34px;
}
/* banner style  */
.banner{
    display: flex;
    align-items: center;
    max-width: 1500px;
    margin: 0 auto;
    text-align:center;
    margin-top: 20px;
    justify-content: space-between;
    border-radius: 24px;
    gap: 50px;
    background-color: rgba(198, 228, 214, 1);
   
}
.banner-content{
    text-align: left;
    padding: 80px 30px;
}
.banner-title{
    font-size: 24px;
    font-weight: 600px;
    color: rgba(14, 14, 14, 0.5);
    margin-left: 10px;
}
.banner-description{
    font-size: 56px;
    font-weight: bold;
    
    color: rgba(14, 14, 14, 1);
}

/* nav style */
nav{
    margin-left: 260px;
}
nav ul li {
    margin-right: 100px;
}

/* structure-container style */
.structure-container{
    display: flex;
    justify-content: space-between;
    text-align: left;
}
.main{
    max-width: 1500px;
    margin: 0 auto;
    text-align: center;
    margin-top: 110px;
    margin-bottom: 110px;
}
.structure-head{
    font-size: 40px;
    font-weight: bold;
    text-align: left;
}
.structure-title{
    font-size: 20px;
    font-weight: bold;
}
.structure-description{
    font-size: 16px;
    font-weight: 400px;
    color: rgba(14, 14, 14, 0.7);
}
.structure{
    box-shadow: 0px 6px 50px rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    padding: 10px;
    margin : 10px;
}

/* vision styles */
.vision-container{
    display: flex;
    text-align: left;
    justify-content: space-between;
    gap: 10px;
}
.vision-head{
    text-align:left;
}
.vision-heading{
    font-size: 40px;
    font-weight: bold;
}
.vision-paragraph{
    font-size: 16px;
    font-weight: 400px;
    color: rgba(14, 14, 14, 0.7);
}
.vision-title{
    font-size: 20px;
    font-weight: bold;
}
.vision-description{
    font-size: 16px;
    font-weight: 400px;
    color: rgba(14, 14, 14, 0.7)
}
#vision-btn1{
    padding: 11px 20px;
    border-radius: 8px;
    margin-top: 32px;
    color: white;
    background-color: rgba(84, 144, 245, 1);
    border: none; 
}
#vision-btn2{
    padding: 11px 20px;
    border-radius: 8px;
    margin-top: 32px;
    color: white;
    background-color: rgba(9, 161, 92, 1);
    border: none;  
}
#vision-btn3{
    padding: 11px 20px;
    border-radius: 8px;
    margin-top: 32px;
    color: white;
    background-color: rgba(255, 194, 57, 1);
    border: none;  
}

 .vision{
    box-shadow:  rgba(14, 14, 14, 0.15);
    
} 
#changed-bg1{
    background-color: rgba(84, 144, 245, 0.2);
    margin: 10px;
    padding: 32px 32px 35px 32px;
    border-radius: 16px;
    
}
#changed-bg2{
    background-color: rgba(198, 228, 214, 1);
    margin: 10px;
    padding: 32px 32px 35px 32px;
    border-radius: 16px;
}
#changed-bg3{
    background-color: rgba(247, 235, 207, 1);
    margin: 10px;
    padding: 32px 32px 35px 32px;
    border-radius: 16px;
}
.section2{
    margin-top: 80px;
}
.vision-part2{
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.8);
    text-align: left;
}
.vision-part2-heading{
    font-size: 20px;
    font-weight: 600;
    color: rgba(14, 14, 14, 0.8);
    text-align: left;
    
}
.vision-part2-description{
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.6);
    text-align: left;
    margin-top: 4px;
}
.vision-part2-bg{
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: top left;
    padding: 5px;
    box-shadow: rgba(14, 14, 14, 0.3);
    
}
.section3{
    padding: 27px 24px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.35);
    border-radius: 20px;
    margin-top: 32px;
    margin-top: 20px;
}
.recentnews-head-title{
    font-size: 40px;
    font-weight: bold;

}
.recentnews-head-description{
    font-size: 16px;
    font-family: 400;
    color: rgba(14, 14, 14, 0.7);
    margin-top: 24px;
}
.recentnews-head{
    text-align: left;
}
.recentnews-subhead{
    display: flex;
    gap: 32px;
}
.recentnews-subhead-img{
    border-radius: 24px;
}
.recentnews-subhead{
    text-align: left;
    
}
.recentnews-subhead-title-heading{
    font-size: 32px;
    font-weight: bold;
    color: rgba(14, 14, 14, 0.8);
}
.recentnews-subhead-date-time{
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.7);
}
.recentnews-subhead-title{
    margin-bottom: 25px;
    
}
.recentnews-subhead-btn{
    padding: 13px 26px;
    border-radius: 8px;
    color: white;
    background-color: rgba(0, 106, 80, 1);
    border: none;
    font-size: 14px;
    font-weight: 600;
}
.recentnews-subhead{
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.35);
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 48px;
    padding-right: 32px;
    border-radius: 24px;
    
}
.section4{
    margin-top: 80px;
}
.section5{
    margin-top: 30px;
}
.section6-heading{
    font-size: 40px;
    font-weight: bold;
}
.section6-heading-para{
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.7);
}
.note-btn{
    margin: 32px 32px;
}
.note-btn1{
    margin :24px;
    padding: 40px 40px;
    width: 240px;
    height: 128px;
    border-radius: 16px;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    color: rgba(14, 14, 14, 0.8);
    background-color: white;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.35);
    border: none;
}
#note-btn2{
    margin :24px;
    padding: 40px 40px;
    width: 240px;
    height: 128px;
    border-radius: 16px;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    color: rgba(14, 14, 14, 0.8);
    background-color: rgba(198, 228, 214, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.35);
    border: none;
}
main input[type="text"]{
    width: 132px;
    height: 64px;
    width: 70%;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.3);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.35);
    border: none;
}
.done-btn1{
    color: white;
    background-color: rgba(0, 106, 80, 1);
    border-radius: 8px;
    font-size: 12px;
    font-weight: bold;
    padding: 17px 34px;
    margin-top: 32px;
    border: none;
}
.main1{
    max-width: 2000px;
    margin: 0 auto;
    margin-top: 110px;
    margin-bottom: 110px;
    gap: 500px;
}
.section7-heading{
    font-size: 40px;
    font-weight: bold;
    padding-top: 24px;
}
.section7-heading-description{
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.7);
    width: 622px;
    height: 48px;
    align-items: center;
    margin: 0 auto;
    padding-bottom: 24px;
}
main input[type="email"]{
    width: 600px;
    height: 56px;
    color: rgba(14, 14, 14, 0.3);
    font-size: 16px;
    font-weight: 400;
    padding-left: 40px;
    border-radius: 5px 0px 5px 5px;
    border: none;

    
    
}
#subscribe-btn{
    width: 160px;
    height: 58px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    background-color: rgba(0, 106, 80, 1);
    border-radius: 5px 5px 5px 0px;
    border: none;

    
}
.email-btn{
    display: flex;
    align-items: center;
    margin: 0 auto;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.35);
    max-width: 50%;
    
    
}
.section7-end{
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.7);
    padding-top: 10px;
}
.section7-head{
    background-color: rgba(198, 228, 214, 1);
    border-radius: 24px;
    width: 1240px;
    height: 395px;
    align-items: center;
    margin: 0 auto;
}
.footer-end{
    text-align: center;
    margin-bottom: 50px;
}
hr{
   
    align-items: center;
    margin: 0 auto;
    max-width: 1122px;
    margin-bottom: 32px;
    border:3px solid rgba(14, 14, 14, 0.08)
}
.footer-end-heading{
    font-size: 32px;
    font-weight: bold;
    color: black;
}
.footer1-img{
    margin-right: 23px;
}